.addInvPage{
    flex:4;
    margin: 20px;
}
.addInvPageTitle{
    color:#3c3c3c;
}
.addInvPageWrapper{
    display: block;
}
.addInvForm{
    display: block;
}
.addInvSectionTitle{
    color:#FFF;
    background-color: #e50914;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}
.formSection{
    margin: 5px;
    display: flex;
}
.formSectionTitle{width:100%;}
.addInvItem{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: end;
}
.addInvItem label{
    min-width:25% !important;
    color:#3c3c3c;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.labelFile{
    border: 1px solid #CCC;
    padding: 5px 10px;
    border-radius: 5px;
    background: #EEE;
}
.addInvItem span{
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}
.inputCols{
    display: flex;
    margin-bottom: 5px;
}
.colLeft{
    width:50%;
}
.colRight{ 
    width:50%;
}
.valueLabel{
    font-weight: normal !important;
    margin-left: 10px;
    color:#666 !important;
}
.apprInvBtn{
    background-color: #e50914;
    color: #FFF;
    padding: 10px 20px;
    border:1px solid #CCC;
    border-radius: 5px;
    font-size: 16px;
}