
.mp{
    flex:5;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    color:#333;
}

.mpTitle{
    font-size: 20px;
}

.mpTable .mpTh{
    font-size: 22px;
    font-weight: normal;
    text-align: left;
}

.mpTable  .mpTd{
    font-size: 18px;
    text-align: left;
}
.currencyRight{
    text-align: center;
}
.viewDetails{
    display: flex;
}
.mpIcon{
    margin-right: 10px;
}
.mpIcon{
    width:20px !important;
    height: 20px !important;
}
.investBtn{
    background-color: #e50914;
    padding: 5px 10px;
    border:1px solid #CCC;
    border-radius: 10px ;
}
.investBtnLink{
    color: white;
}
.disabled{
    background-color: grey;
}
.items:hover{
    background-color: rgb(184, 182, 182);
    color: black;
  }
  .adminlanding{
      padding-bottom: 3rem;
  }

  .addnewuser{
      position: absolute;
      top: 7.5rem;
      right: 6rem  
  }
.addnewuser:hover{
    background-color: #F90716 !important;
}
.form-check-input[type=radio]:checked:after {
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    border-color: #1266f1;
    background-color: #1266f1;
    transition: border-color;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 14.8% !important;
    top: 50%;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    margin-bottom: 0rem !important;
    background-image: none;
    border-color: #f93154;
}
.Add{
    margin-right: 2rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
}