
.mp{
    flex:5;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    color:#333;
}

.mpTitle{
    padding-bottom: 2rem;
    font-size: 3.5rem;
    font-family: 'Zilla Slab', serif;
}

.mpTable .mpTh{
    font-size: 0.99rem;
    font-weight: normal;
    text-align: center;
}

.mpTable  .mpTd{
    font-size: 0.9rem;
    text-align: center;
}
.currencyRight{
    text-align: center;
}
.viewDetails{
    display: flex;
}
.mpIcon{
    margin-right: 10px;
}
.mpIcon{
    width:20px !important;
    height: 20px !important;
}
.investBtn{
    background-color: #e50914;
    padding: 5px 10px;
    border:1px solid #CCC;
    border-radius: 10px ;
}
.investBtnLink{
    color: white;
}
.disabled{
    background-color: grey;
}
.items:hover{
    background-color: rgb(184, 182, 182);
    color: black;
  }
  .adminlanding{
      padding-bottom: 3rem;
  }

  .addnewuser{
      position: absolute;
      top: 7.5rem;
      right: 6rem  
  }
.addnewuser:hover{
    background-color: #F90716 !important;
}
.form-check-input[type=radio]:checked:after {
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    border-color: #1266f1;
    background-color: #1266f1;
    transition: border-color;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 14.8% !important;
    top: 50%;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    margin-bottom: 0rem !important;
    background-image: none;
    border-color: #f93154;
}
.Add{
    margin-right: 2rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
}
.addInvPage{
    flex:4;
    margin: 20px;
}
.addInvPageTitle{
    color:#3c3c3c;
}
.addInvPageWrapper{
    display: block;
}
.addInvForm{
    display: block;
}
.addInvSectionTitle{
    color:#FFF;
    background-color: #e50914;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}
.saveInvBtn{
    background-color: #e50914;
    color: #FFF;
    padding: 10px 20px;
    border:1px solid #CCC;
    border-radius: 5px;
    font-size: 16px;
}
.formSection{
    margin: 5px;
    display: flex;
}
.formSectionTitle{width:100%;}
.addInvItem{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: end;
}
.addInvItem label{
    min-width:25% !important;
    color:#3c3c3c;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.labelFile{
    border: 1px solid #CCC;
    padding: 5px 10px;
    border-radius: 5px;
    background: #EEE;
}
.addInvItem span{
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}
.addInvItem .addInvInput{
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-size: 14px;
}

.addInvItem select{
    width:64% !important;
    padding: 6px 10px !important;
    border-radius: 5px !important;
    border: 1px solid #CCC !important;
}
.inputCols{
    display: flex;
    margin-bottom: 5px;
}
.colLeft{
    width:50%;
}
.colRight{ 
    width:50%;
}
button{
    font-size: 0.9rem !important;
}
.saveInvBtn{
    background-color: #e50914;
    color: #FFF;
    padding: 10px 20px;
    border:1px solid #CCC;
    border-radius: 5px;
    font-size: 0.5px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .required{
      color: red;
  }
  .overlay{
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color:lightgray;
      opacity: 0.9;
  }
 .table-dark{
     z-index: 1;
 }