
.mp{
    transition-duration: 0.2ms;
    flex:5;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    color:#333;
    background-color: #F9F6F7;
}

.Head{
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    font-family: 'Zilla Slab', serif;
}
.MarketCard{
    font-size: medium;
    margin: 1rem 1rem 1rem 1rem;
    padding: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2rem;
}
.Value{
    padding-left: 3rem;
    padding-top: 0.8rem;
    font-size: 0.9rem;
}
.rows{
    padding-top: 2rem;
}

.InvestButton{
    padding-left: 4rem !important;
}
.Value1{
    padding-left: 3rem;
    padding-top: 0.8rem;
    font-size: 0.9rem;
}
.Heading{
    font-size: 1rem;
    font-family: 'Merriweather', sans-serif;
}
.accordion-button{
    padding: 0 20px 10px 0 !important;
}
.Heading1{
    font-size: 1rem;
    padding-left: 0;
    padding-right: 10px;
    font-family: 'Merriweather', sans-serif;
}
.Accord:hover{
    transform: scale(1.03);
}
.Img{
    padding-top: 0rem
}
.Text{
    padding-top: 0.5rem;
    font-size: 1.2rem;
}
.Buttons{
    line-height: 1.2rem;
    width: 4rem;
    height: 2rem;
    background: #FF1700;
    color: #fff;
    float: right;
    border: none;
    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
   
    cursor: pointer;
    
}

.Accord{
    padding: 1.8rem 1.5rem 0rem 1.5rem;
    transition: transform .2s; /* Animation */
}


.MarketCard button:hover{
    background-color: #950101;
}
.Info{
    padding: 2rem;
}
h3{
    font-size: 3rem;
    text-align: center;
}
.Ad{
    
    
}
.ImpAd{
    padding-top: 3rem;
}
.currencyRight{
    text-align: right;
}
.viewDetails{
    display: flex;
}
.mpIcon{
    margin-right: 10px;
}
.mpIcon{
    width:20px !important;
    height: 20px !important;
}

.disabled{
    background-color: grey;
}

